.buyer-menu__item
{
    display: inline-block;
    vertical-align: top;
    padding: 0 13px;
    position: relative;
}

.buyer-menu__item:after {
    content: '';
    position: absolute;
    top: 4px;
    width: 1px;
    height: 82%;
    right: -2px;
    background: #717b7f;
}

.buyer-menu__item:last-child {
    padding-right: 0;
    padding-left: 15px;
}


.buyer-menu__item:last-child:after {
    display: none;
}
