.vacancies__info
{
    -webkit-box-shadow: 3px 3px 9px 0px rgba(0, 149, 218, 0.29);
    border-radius: 10px;
    box-shadow: 3px 3px 9px 0 rgba(0, 149, 218, 0.29);
    float: right;
    vertical-align: middle;
    background: #fff;
    padding: 15px;
    margin: -60px 40px 0 0;
}
