.info-page__section {
    margin: 0;
}


.info-page__section:last-child {
    margin-bottom: 0;
}


.info-page__section .link {
    color: #0095da;
}

.info-page__section .link:hover {
    color: #00aefe;
}


.info-page__section:nth-of-type(2n) {
}

.info-page__section .b-text__p {
    font-size: 14px;
    line-height: 19px;
    margin: 0 0 6px 0;
}

.info-page__section .b-text__ul_list-type_blue-circle .b-text__li {
    line-height: 16px;
    font-size: 14px;
    margin: 0 0 21px 0;
}
