.popularity-graph__links
{
    position: absolute;
    top: 260px;
    color: #0088d8;
    left: 75px;
    width: 100%;
    font-size: 14px;
}

.popularity-graph__links .link:hover {
    color: #00aefe;
}
