.lightbox__close
{
    background: url('../lightbox.png') no-repeat;
    background-position: -6px 0;
    width: 16px;
    height: 16px;
    right: -32px;
}

.lightbox__close:hover {
    background-position: -37px 0;
}

.lightbox__close:active {
    background-position: -70px 0;
}