.map__marker
{
    position: relative;
}

.map__marker:before {
    border-radius: 50%;
    content: '';
    position: absolute;
    top: -3px;
    left: -30px;
    width: 16px;
    height: 16px;
    background: transparent;
    border: 2px solid #007eb9;
}
