.order-page
{
    margin: 55px auto 0;
    display: block;
    width: 920px;
}

.order-page .b-link:hover {
    color: #00aefe;
}

.order-page .input_type_text,
.order-page .textarea {
    background: #eeeeee;
}