.logo {
    background: url("logo.png") no-repeat;
    width: 184px;
    height: 59px;
    display: inline-block;
    vertical-align: top;

    /* hide text */
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}
