bem-bl
bemhtml
node_modules
.DS_Store
.idea
.project
.svn
.bem/cache
desktop.bundles/*/*.*
desktop.bundles/merged/build

!desktop.bundles/*/*.bemjson.js
!desktop.bundles/merged/*.sh
!desktop.bundles/merged/img/*
!desktop.bundles/merged/js/*
!desktop.bundles/merged/template/*
!desktop.bundles/.bem/*
*.*~
