.order-list__delete
{
    display: inline-block;
    vertical-align: middle;
    width: 65px;
    color: #9c9c9c;
    text-align: center;
    margin: 0 0 0 25px;
}

.order-list__delete .button_type_delete {
    background: url("order-list__delete-button.png");
    width: 16px;
    height: 17px;
}
