.brands__item
{
    display: inline-block;
    vertical-align: top;
    margin: 0 50px 0 0;
    width: 285px;
    font-size: 14px;
    line-height: 19px;
}

.brands__item:last-child {
    margin-right: 0;
}