.order-list_type_simple {
}

.order-list_type_simple .order-list__header {
    padding-left: 0;
}

.order-list_type_simple .order-list__list {
    padding: 15px 0 15px 0;
}

.order-list_type_simple .order-list__item {
    margin: 5px 0;
    font-size: 14px;
}

.order-list_type_simple .order-list__item-desc {
    width: 555px;
}

.order-list_type_simple .order-list__header .order-list__item-desc {
    width: 485px;
}

.order-list_type_simple .order-list__item-name {
    color: #000000;
}

.order-list_type_simple .order-list__total {
    margin: 10px 0 65px 505px;
}