.order-list_type_simple
{
}


.order-list_type_simple .order-list__list {
    padding: 15px 0 15px 20px;
}

.order-list_type_simple .order-list__item
{
    margin: 5px 0;
    font-size: 14px;
}

.order-list_type_simple .order-list__item-desc {
    width: 530px;
}

.order-list_type_simple .order-list__item-name {
    color: #000000;
}