.select__custom-control {
    background: #fff;
    border-radius: 8px;
    border: 1px solid #878787;
    font-size: 14px;
    cursor: pointer;
    position: absolute;
    z-index: 100;
}

.i-ua_js_no .select__custom-control {
    display: none;
}
