.pay-methods__more-link
{
    margin: 15px 0 0 20px;
    width: 80%;
}

.pay-methods__more-link_state_current .b-link {
    color: #000000!important;
    font-weight: bold;
    cursor: default;
}


.pay-methods__more-link_state_current .b-link .b-link__inner {
    border-bottom: none !important;
}