.main-menu__section
{
    display: inline-block;
    vertical-align: top;
    box-shadow: 0 2px 8px -1px rgba(8,8,8, 0.47);
    border-radius: 5px;
    margin: 0 15px 0 0;
}


.main-menu__section:last-child {
    margin-right: 0;
}