.main-menu__section
{
    display: inline-block;
    vertical-align: top;
    box-shadow: 0 0 8px 0 rgba(8,8,8, 0.47);
    border-radius: 5px;
    margin: 0 15px 0 0;

    background: rgb(245,245,245); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(254,254,254,1) 52%, rgba(223,223,223,1) 95%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,245,245,1)), color-stop(52%,rgba(254,254,254,1)), color-stop(95%,rgba(223,223,223,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(245,245,245,1) 0%,rgba(254,254,254,1) 52%,rgba(223,223,223,1) 95%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(245,245,245,1) 0%,rgba(254,254,254,1) 52%,rgba(223,223,223,1) 95%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(245,245,245,1) 0%,rgba(254,254,254,1) 52%,rgba(223,223,223,1) 95%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(245,245,245,1) 0%,rgba(254,254,254,1) 52%,rgba(223,223,223,1) 95%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}


.main-menu__section:last-child {
    margin-right: 0;
}