.catalog-menu
{
}

.catalog-menu .b-link {
    color: #000000;
    text-decoration: none;
    border-bottom: 1px solid #a6b1b5;
}

.catalog-menu .b-link:hover {
    color: #0081bc;
    border-bottom: 1px solid #0081bc;
}