.catalog-menu
{
}

.catalog-menu .b-link {
    color: #000000;
    text-decoration: none;
    border-bottom: 1px solid #8d8d8d;
}

.catalog-menu .b-link:hover {
    color: #0081bc;
    border-bottom: 1px solid #6ba5bf;
}