.catalog-links__title
{
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
    font-size: 22px;
    text-transform: uppercase;
    border-bottom: 1px solid #a1aeb5;
    letter-spacing: -1px;
}

.catalog-links__title:hover {
    color: #0081bc;
    border-bottom: 1px solid #0081bc;
}

.catalog-links__title .link {
    text-decoration: none;

}
