.wholesale-partners-form__send-file
{
    margin: 5px 0 10px 0;
    white-space: nowrap;
    overflow: hidden;
    max-width: 260px;
}


.wholesale-partners-form__send-file .input__file-title_visibility_visible {
    display: block;
    margin: 10px 0 10px 0;
}
