.wholesale-partners-form__send-file
{
    margin: 10px 0 10px 0;
    display: inline-block;
    vertical-align: top;
    width: 195px;
}


.wholesale-partners-form__send-file .input__file-title_visibility_visible {
    display: block;
    margin: 10px 0 10px 0;
}
