.where-to-by-page
{
    margin: 55px 0 0 30px;
}

.where-to-by-page .map_provider_google .map__map {
    width: 398px;
    height: 500px;
    border: 1px solid #000000;
}


.where-to-by-page .b-text__h5 {
    margin: 34px 0 0 0;
    font-size: 16px;
}
