.carousel__control_state_disabled,
.carousel__control_state_disabled .button_type_carousel-horiz,
.carousel__control_state_disabled .button_type_carousel-vert {
    cursor: default;
}

/* horiz */
.carousel__control_state_disabled .button_type_carousel-horiz.button_direction_prev {
    background-position: -52px 0;
}

.carousel__control_state_disabled .button_type_carousel-horiz.button_direction_next {
    background-position: -70px 0;
}

/* vert */
.carousel__control_state_disabled .button_type_carousel-vert.button_direction_prev,
.carousel__control_state_disabled .button_type_carousel-vert.button_direction_prev:hover {
    background-position: 0 -39px;
}

.carousel__control_state_disabled .button_type_carousel-vert.button_direction_next,
.carousel__control_state_disabled .button_type_carousel-vert.button_direction_next:hover {
    background-position: 0 -50px;
}
