.catalog-section__item
{
    display: inline-block;
    vertical-align: top;
    width: 230px;
    height: 220px;
    margin: 0 24px 15px 0;
}


.catalog-section__item:nth-child(3n) {
    margin-right: 0;
}
