.catalog-index-page__menu-item
{
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0 48px 0 0;
    color: #a0a0a0;
    padding: 7px 5px 5px 14px;
    cursor: pointer;
}

.catalog-index-page__menu-item:hover {
    color: #000000;
}