.button_direction_next
{
    background-position: -87px 0;
}

.button_direction_next:hover {
    background-position: -104px 0;
}


.button_direction_next:active {

    background-position: -122px 0;
}