.button_type_carousel-horiz.button_direction_next
{
    background-position: -86px 0;
}

.button_type_carousel-horiz.button_direction_next:hover {
    background-position: -104px 0;
}


.button_type_carousel-horiz.button_direction_next:active {

    background-position: -122px 0;
}

.carousel__control_state_disabled .button_type_carousel-horiz.button_direction_next {
    background-position: -70px 0;
}


/* ================= */

.button_type_carousel-vert.button_direction_next
{
    background-position: 0 -61px
}

.button_type_carousel-vert.button_direction_next:hover {
    background-position: 0 -73px;
}


.button_type_carousel-vert.button_direction_next:active {

    background-position: 0 -85px;
}

.carousel__control_state_disabled .button_type_carousel-vert.button_direction_next,
.carousel__control_state_disabled .button_type_carousel-vert.button_direction_next:hover {
    background-position: 0 -50px;
}