.carousel__item
{
    display: inline-block;
    vertical-align: top;
    white-space: normal;
}

.carousel__item div,
.carousel__item li,
.carousel__item span {
    margin-left: auto;
    margin-right: auto;
}

.carousel__item .product-card__icon {
    display: none;
}
