.not-found__header
{
    font-size: 59px;
    line-height: 59px;
    font-weight: normal;
    position: relative;
    left: 110px;
    width: 205px;
    text-transform: uppercase;
    margin: 0 auto;
}

.not-found__header em {
    font-style: normal;
    font-size: 93px;
    line-height: 80px;
}