.index-promo-carousel__menu-item {
    width: 18px;
    height: 18px;
    background: #f3f3f3;
    display: inline-block;
    border-radius: 100%;
    margin: 0 7px 0 0;
    border: 1px solid #a0a0a0;
    cursor: pointer;
    position: relative;
}
