.products-promo-carousel__menu-item_state_current
{
    background: #ffffff;
    border-color: #0095da;
}


.products-promo-carousel__menu-item_state_current:after {
    content: '';
    font: 0/0 a;
    position: absolute;
    top: 3px;
    left: 3px;
    background: #0095da;
    width: 12px;
    height: 12px;
    border-radius: 100%;
}