.price_old_yes
{
    position: relative;
}

.price_old_yes:after {
    content: '';
    width: 100%;
    position: absolute;
    top: 50%;
    height: 2px;
    margin-top: -1px;
    background: #9f9f9f;
    left: 0;
}