.catalog-section-carousel_type_previouslyViewedProducts
{
    margin: 50px 0 70px 0;
}

.catalog-section-carousel_type_previouslyViewedProducts .catalog-section-carousel__header {
    margin-left: 30px;
}

.catalog-section-carousel_type_previouslyViewedProducts .product-card {
    width: auto;
}

.catalog-section-carousel_type_previouslyViewedProducts .product-card .product-card__photo {
    width: auto;
    max-width: 140px;
    height: 65px;
}

.catalog-section-carousel_type_previouslyViewedProducts .product-card__title {
    font-size: 14px;
}
.catalog-section-carousel_type_previouslyViewedProducts .product-card__price {
    font-size: 20px;
}

