.main-menu__item_section_catalog
{
    color: #ffffff;
}

.main-menu__item_section_catalog .main-menu__item-selector {
    border-bottom: 1px solid #e88688;
}


.main-menu__item_section_catalog .b-link {
    padding: 9px 25px;
}