.b-page__body
{
    margin: 0;
    padding: 0;
    background: url("body__background.png") no-repeat center 205px #e2f6ff;
    font-family: Arial, sans-serif;
    min-width: 1002px;
}

/* global styles (begin) */
input::-moz-focus-inner,
button::-moz-focus-inner {
    padding:0;
    border:0;
}
/* global styles (end) */