.catalog-index-page__menu-item_state_current
{
    background: #f0faff;
    border: 1px solid #43a2ce;
    border-radius: 8px;
    padding: 10px 12px 4px 13px;
    color: #000000;
    cursor: default;
}

.catalog-index-page__menu-item_state_current .catalog-index-page__menu-item-title {
    border-bottom: none;
}