.brands_style_compact
{
    width: 115px;
    text-align: center;
}

.brands_style_compact .brands__list {
    width: auto;
    margin: 0;
}


.brands_style_compact .brands__item {
    width: auto;
    margin: 0;
}

.brands_style_compact .brands__item-header {

    height: auto;
    margin: 0 0 5px 0;
}
