.carousel__control
{
    position: absolute;
    z-index: 100;
}

.carousel_type_horiz .carousel__control
{
    top: 50%;
    margin-top: -16px;
}


.carousel_type_vert .carousel__control {
    left: 50%;
    margin-left: -11px;
}