.payment-form__owner-error_visible_yes
{
    display: inline-block;
    color: red;
    width: 57px;
    font-size: 12px;
    font-style: italic;
    line-height: 11px;
    vertical-align: top;
    margin: 1px 0 0 20px;
    background: rgba(255,255,255, 0.8);
    box-shadow: 0px 0px 9px 5px rgba(255,255,255, 0.8);
    border-radius: 40px;
}
