.catalog-item__info-menu-item_state_current
{
    border: 1px solid #43a2ce;
    background: #ffffff;
    color: #000000;
    border-radius: 7px;
}

.i-ua_js_yes .catalog-item__info-menu-item_state_current .b-link_pseudo_yes .b-link__inner {
   border-bottom: none;
}
