.authorization-info__text
{
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 25px 0;
}


.i-ua_js_yes .authorization-info__text .b-link_pseudo_yes .b-link__inner {
    border-bottom-style: solid;
    color: #0081bc;
}

.i-ua_js_yes .authorization-info__text .b-link_pseudo_yes:hover .b-link__inner {
    color: #00aefe;
}

.authorization-info__text p {
    margin: 0 0 20px 0;
}