.info-page__info-box
{
    background: #ffffff;
    border-radius: 10px;
    -webkit-box-shadow: 1px 1px 9px 0px rgba(0, 149, 218, 0.29);
    box-shadow: 1px 1px 9px 0px rgba(0, 149, 218, 0.29);
    margin: 0 auto;
    padding: 20px 20px;
}
