.catalog-item-card {
    padding: 25px 15px 15px 30px;
    background: #ffffff;
    -webkit-box-shadow: 3px 3px 9px 0px rgba(0, 149, 218, 0.29);
    border-radius: 10px;
    box-shadow: 3px 3px 9px 0px rgba(0, 149, 218, 0.29);
    position: relative;

}

.catalog-item-card .carousel__control_direction_prev {
    left: -20px;
}

.catalog-item-card .carousel__control_direction_next {
    right: -20px;
}


.catalog-item-card .b-link {
    color: #006999;
}

.catalog-item-card .b-link:hover {
    color: #00aefe;
}