.not-found
{
    background: url("not-found__bg.jpg") no-repeat center 0;
    position: relative;
    height: 909px;
    margin: 30px auto 0;
    padding: 170px 0 0 0;
    max-height: 740px!important;
}


