.order-list__counter
{
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    margin: 0 35px;
}

.order-list__counter .input_type_text {
    padding: 5px;
    text-align: center;
}
