.delivery-info__section-content
{
}


.delivery-info__section-content .b-text__p {
    font-size: 14px;
    line-height: 20px;
}

.delivery-info__section-content .b-text__ul {
    color: #494949;
    font-size: 13px;
    font-style: italic;
    line-height: 16px;
    margin: 25px 0 45px 0;
}

.delivery-info__section-content .b-text__ul_list-type_blue-circle .b-text__li {
    margin: 0 0 20px 20px;
}

.delivery-info__section-content .b-text__ul_list-type_blue-circle .b-text__li:last-child {
    margin-bottom: 0;
}