.reviews__link-to-add
{
    position: absolute;
    right: 121px;
    top: 28px;
    font-size: 18px;
    color: #0d84bc;
}

.reviews__link-to-add:hover {
    color: #00aefe;
}

.reviews__link-to-add .b-link {
    text-decoration: none;
    border-bottom: 1px dashed;
}