.products-promo-carousel__price-new {
    font-size: 33px;
    line-height: 35px;
    margin: 0 0 0 20px;
    color: #ff0000;
    padding: 0 11px;
    border: 1px solid #a4a4a4;
    border-radius: 7px;
    -webkit-box-shadow: 1px 2px 6px 0 rgba(0, 0, 0, 0.44);
    box-shadow: 1px 2px 6px 0 rgba(0, 0, 0, 0.44);
}
