.catalog-item-card__photos-list-item
{
    margin: 0 10px 0 0;
    cursor: pointer;
    width: 110px;
    display: inline-block;
    vertical-align: middle;
    height: 55px;
    position: relative;
}

.catalog-item-card__photos-list-item:last-child {
    margin-right: 0;
}