.order-page__content
{
    padding: 30px 50px 40px 50px;
    background: #ffffff;
    -webkit-box-shadow: 3px 3px 9px 0px rgba(0, 149, 218, 0.29);
    border-radius: 10px;
    box-shadow: 3px 3px 9px 0px rgba(0, 149, 218, 0.29);
    position: relative;

}
