.input_type_radio
{
    width: auto;
    padding: 0;
    outline: none;
    border-radius: 0;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
}

.i-ua_js_yes .input_type_radio .input__input {
    opacity: 0;
    width: 20px;
    height: 20px;
    margin-right: -20px;
}

.i-ua_js_no .input_type_radio .input__control {
    display: none;
}