.dealers
{
    background: #ffffff;
    -webkit-box-shadow: 3px 3px 9px 0px rgba(0, 149, 218, 0.29);
    border-radius: 10px;
    box-shadow: 3px 3px 9px 0px rgba(0, 149, 218, 0.29);
    width: 320px;
    margin: 0 0 25px 0;
    padding: 20px;
}
