.ya-site-results-wrapper {

}

.ya-site-results-wrapper #ya-site-results {
    background: transparent !important;
}

.ya-site-results-wrapper .b-head__found {
    font-size: 13px;
}

.ya-site-results-wrapper .b-serp-item {
    margin: 0 0 20px 0;
}

.ya-site-results-wrapper #ya-site-results .b-serp-item__title-link:link,
.ya-site-results-wrapper #ya-site-results .b-serp-item__title-link {
    font-size: 16px;
    line-height: 18px;
}

.ya-site-results-wrapper #ya-site-results .b-serp-item__title-link:link:hover,
.ya-site-results-wrapper #ya-site-results .b-serp-item__title-link:hover,
#ya-site-results a:link:hover,
#ya-site-results a:hover,
#ya-site-results .b-pseudo-link:hover,
#ya-site-results .b-head-tabs__link:hover,
#ya-site-results .b-head-tabs__link:link:hover,
#ya-site-results .b-head-tabs__link:visited:hover,
#ya-site-results .b-dropdown__list .b-pseudo-link:hover,
#ya-site-results .b-dropdowna__switcher .b-pseudo-link:hover,
#ya-site-results .b-popupa .b-popupa__content .b-menu__item:hover,
#ya-site-results .b-foot__link:link:hover,
#ya-site-results .b-copyright__link:link:hover,
#ya-site-results .b-serp-item__mime:hover,
#ya-site-results .b-pager :link:hover {

    color: #00aefe;
}

.ya-site-results-wrapper #ya-site-results .b-serp-item__text {
    font-size: 13px;
    line-height: 18px;
}

.ya-site-results-wrapper .b-head__l {
    background: url("ya-site-results-wrapper.png");
    background-repeat: no-repeat;
    background-position: 37px 18px;
}

.ya-site-results-wrapper .b-head {
    margin: 0 0 25px 0;
}

.ya-site-results-wrapper .b-pager {
    margin-bottom: 0;
}
