.region-delivery-info__select
{
    width: 500px;
    margin: 50px 0 0 0;
    font-size: 14px;
    line-height: 17px;
    color: #545454;
}

.region-delivery-info__select .input__input {

}

.region-delivery-info__select .input__label {
    width: 470px;
    margin: 0 0 0 15px;
}
