.catalog-item-card__photos-list-item
{
    margin: 0 10px 0 0;
    cursor: pointer;
    max-width: 110px;
    display: inline-block;
    min-width: 100px;
    vertical-align: middle;
}

.catalog-item-card__photos-list-item:last-child {
    margin-right: 0;
}