.catalog-item-card__added-in-cart
{
    background: url("catalog-item-card__added-in-cart.png") no-repeat 0 0;
    display: none;
    position: absolute;
    top: 40px;
    left: -25px;
    box-shadow: 0 0 60px 10px #ffffff;
    width: 210px;
    height: 47px;
    text-align: center;
    padding: 33px 0 0 0;
    color: #fff;
    font-size: 17px;
    line-height: 17px;
    border-radius: 10px;
    text-shadow: 1px 1px 1px #00354e;
    border-top: 15px solid #fff;
}
