.wholesale-partners-form
{
    margin: 30px 0 0 0;
    width: 405px;
}

.wholesale-partners-form .input_type_text {
    margin: 0 0 15px 0;
}

.wholesale-partners-form .button_type_submit {
    margin: 37px 0 0 0;
    display: inline-block;
}

.wholesale-partners-form .textarea {
    height: 110px;
}