.index-promo-carousel__content {
    background: url("index-promo-carousel__content__bg.png") no-repeat;
    position: absolute;
    top: 110px;
    left: 488px;
    width: 343px;
    height: 343px;
    padding: 45px 0 0 68px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.index-promo-carousel__content:before {
    content: '';
    position: absolute;
    background: url("index-promo-carousel__content__shadow.png") no-repeat;
    width: 286px;
    height: 149px;
    z-index: 0;
    z-index: 0;
    bottom: 3px;
    right: 12px;
    display: none;
}