.order-success-page__print
{
    margin: 25px 0 0 0;
    font-size: 15px;
    display: inline-block;
}

.order-success-page__print .link {
    color: #0081bc;
}

.order-success-page__print .link:hover {
    color: #00aefe;
}
