.catalog-page__menu-item_state_current
{
    color: #000000;
    border: 1px solid #aeaeae;
    background: #ffffff;
    cursor: default;
    padding: 2px 9px 2px;
}

.catalog-page__menu-item_state_current .catalog-page__menu-item-title
{
    border-bottom: none;
}
