.certificates__item
{
    display: inline-block;
    vertical-align: top;
    margin: 0 12px 0 0;
    border: 1px solid #908f8f;
    height: 70px;
    width: 49px;
    -webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.38);
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.38);
    cursor: pointer;
}

.certificates__item:last-of-type {
    margin-right: 0;
}

.certificates__item .b-icon {

}