.map_figure_circle
{
}

.map_figure_circle .ymaps-events-pane {
    background: url('map__mask_fugure_circle.png') no-repeat !important;
}

.map_figure_circle .ymaps-copyrights-legend {
    display: none !important;
}

.map_figure_circle .ymaps-copyrights-logo {
    right: 74px !important;
}
