.paginator__item_state_current
{
    background: #0081bc;
    border-radius: 100%;
    color: #ffffff;
    padding: 7px 11px;
    margin-top: -6px;
    margin-left: -4px;
}

.paginator__item_state_current:hover {
    color: #00aefe;
}
