.main-menu__section_background_red
{
    background: rgb(229,27,35); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(229,27,35,1) 0%, rgba(237,28,36,1) 52%, rgba(193,7,14,1) 95%, rgba(167,0,4,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,27,35,1)), color-stop(52%,rgba(237,28,36,1)), color-stop(95%,rgba(193,7,14,1)), color-stop(100%,rgba(167,0,4,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(229,27,35,1) 0%,rgba(237,28,36,1) 52%,rgba(193,7,14,1) 95%,rgba(167,0,4,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(229,27,35,1) 0%,rgba(237,28,36,1) 52%,rgba(193,7,14,1) 95%,rgba(167,0,4,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(229,27,35,1) 0%,rgba(237,28,36,1) 52%,rgba(193,7,14,1) 95%,rgba(167,0,4,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(229,27,35,1) 0%,rgba(237,28,36,1) 52%,rgba(193,7,14,1) 95%,rgba(167,0,4,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e51b23', endColorstr='#a70004',GradientType=0 ); /* IE6-9 */

}
