.header__index-title
{
    font-size: 60px;
    line-height: 65px;
    text-transform: uppercase;
    width: 400px;
    margin: 70px 0 0 100px;
    text-shadow: 3px 2px 1px #FFF;
    display: inline-block;
    vertical-align: top;
    letter-spacing: -1px;
}
