.color-selector__selector
{
    display: inline-block;
    vertical-align: middle;
    font-size: 11px;
    line-height: 11px;
    font-style: italic;
    color: #ffffff;
    padding: 2px 11px 3px;
    border-radius: 8px;
    margin: 0 10px 0 0;
    cursor: pointer;
    border: 3px solid white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
