.order-success-page
{
    margin: 60px 0 0 45px;
}

@media print {

    .b-page__body {
        background: none!important;
    }

    .header,
    .footer {
        display: none!important;
    }

    .order-success-page__column_position_left {
        width: 550px!important;
        margin: 0 auto!important;
        display: block!important;
    }

    .order-success-page__column_position_right {
        display: none!important;
    }
}
