.catalog-item {
    margin: 45px 0 0 15px;
}

.catalog-item .reviews {
    margin: 55px 0 30px 0;
}

.catalog-item .reviews__add {
    margin: 40px 0 0 0;
    font-size: 17px;
}

.catalog-item .reviews__add .link {
    color: #0d84bc;
}

.catalog-item .reviews__add .link:hover {
    color: #00aefe;
}
