.content-loader__icon
{
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAYAAAAehFoBAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAoNJREFUeNrsWctxwjAQBYYClA7gkDNOB6QDU0HMNRegAnAFTi65QgchFcSpAOecQ0gHpgJHmnlkdjz6WJYEk4Sd2fEYkPdpf3qLu1VVdX6T9Dq/TPr0pvv0EcJGxvWN69b1QdX9dXAPM65zrs9cV9497Ahsx7XkmuOziOuA/GbJdcR1wXUfGnAEI6UEaMx1RsBFmufEUJEeL1w3oYpOgPhEWBnuV/hsbQCpAr7G+jiEh4+eWCO0vmSA/E6b5rhN0W0IcHG9Eo2F61SSKraybBol2y7xBXALAlKAv3UEvW1aiP2WD6+DKwA6Qpc4Gh+T6xLrxAYP+M0ea8tQbW2vOQAKKJWcrBv5SB9bwJuWdgTgyb/kEhfAF8B/EfC8xrJOLWud/Z6ElGSgismZAJewv8KBk4BvxDLAEaGNbViYDznyZXEyvtYnFtPBIRYMPZAbW5mAegrgN9S+qegYwnEuSevO6knypy5j7DbBBk4hGTnStUWXa4j26ARAY6RhrMLTlzAulRwC5nKGdmqKtjSHVV6eBUyJREFXGwGONAWYBALLFDiYCfDA4EXfXmakwFTfGwGbptzMI+BXhQNKjFzGLlHgpLnV5HKCU7CtjIlnVen3qMrhvmRnDwT8TuF15pgGO000KQYrelliaJTJuyO5GVhO5Y35cK4ITe6YEqauEbkQ+BQASwujunSYuUSgCeAtinBIPNu2vc016zZgaUPNfx9WI9Kx1Sxwv0Oli9ZUNWx3d5rnTk3523ame4ABRsapCdmISiJJqAtDC/U2hBbkX6CbTrP3F6zm1RRgCxvDLq8MDpJiNG0yxdVmnTfA+xb9d+V6lrsAzk84gfxI9/ImNLB8CzAAQa6fxW9we1wAAAAASUVORK5CYII=") no-repeat;
    width: 44px;
    height: 44px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -22px 0 0 -22px;
    z-index: 10;
}
