.content-loader__icon
{
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAYAAAAehFoBAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAohJREFUeNrsWctx6jAUNR4K8OsAFlnjdAAdmAribLOBVACuwMkmW+ggvAriVICzziKkA1OBI80cZu7T6GPJEpnkcWfumI8lHV2d+7MHbdtGP0ni6IfJ8PRh8PQeYv6S6SvTXd+J2rur4BZOmC6ZPjNde7dwT2B7pg3TCr+lTEfknhXTCdN7pofQgFMs0kiAZkwXBFyqmSeDcnr8ZboN5XQcxAeONcH3NX7bGECqgG8wPgth4ZMlNjhaXzICvwsbjnd1ui0Bzq9/eGBheiuhiq2sbE7JJkp8Atw9AcnBz3qC3tk44tBhchFcDdAposRp8Sm5rjCOb/CIew4Y24QKawdNAqihVCoybuKJPlaAt45rcMDz/7aWuAC+AP5tgJdClXVu2ZjWj4WipESpmH8T4Abrr5FwctQbmQxwSspGlyrMh5zqZZ4ZX2Qdiy5x8AFjH9nJUuYoPTnwa3H92NBJPH8jnwuZsWKBP6JMsdscGziHlCSla52u0hTakzMAzUDDTIdnKFRcKjkG5HKJcBoZTlvKYZWVFwEpkSvK1U6AU40D5oHAJorGNzEBHhms6NvKCXEw1f9GwKYut/QI+EUBqkHLZYwSNTLNTMPlHFnQVabEsir6Peo4PBR29kDA7xVWT3rSYK85TYrBqrxs0DTK5K1ncTOy7Mo718OV4miqnpQwRY20TwFfAGBjsaiODoueJ2AEvIMTjollXcPbUjNuiyptHBkefscW3JshikRwnBKhqe0Y7m4089524a9LT/eABRLSTs3JRlSSSo66NoRQb01oTZ4CXUfd3l8kglULgK1tF3d9ZXCUOKNpkwWuNuO8AT44xN+1j3zuCrg6Ywfyjwwub0IDy5cAAwCnNJ/FFJORJAAAAABJRU5ErkJggg==") no-repeat;
    width: 44px;
    height: 44px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -22px 0 0 -22px;
    z-index: 10;
}
