.catalog-page__menu-item-title
{
    border-bottom: 1px dashed;
    font-size: 14px;
    line-height: 14px;
    position: relative;
}

.catalog-page__menu-item-title:after {
    position: absolute;
    right: -0.8em;
    font-weight: bold;
    font-size: 17px;
    bottom: 2px;
}

.catalog-page__menu-item_state_current .catalog-page__menu-item-title
{
    border-bottom: none;
}

.catalog-page__menu-item_state_current .catalog-page__menu-item-title:after {
    display: none;
}