.catalog-item-card__price-new
{
    font-size: 34px;
    line-height: 34px;
    color: #ff0000;
    border: 1px solid #868686;
    border-radius: 7px;
    -webkit-box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.44);
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.44);
    display: inline-block;
    padding: 3px 10px 1px 20px;
    margin: 10px 0 0 0;
}
