.product-card_background_white-shadow {
    -webkit-box-shadow: 1px 1px 9px 0 rgba(0, 149, 218, 0.29);
    box-shadow: 1px 1px 9px 0 rgba(0, 149, 218, 0.29);
    background: #ffffff;
    border-radius: 10px;
    width: 210px;
    padding: 40px 0 25px 0;
}

.product-card_background_white-shadow .product-card__icon {
    right: 30px;
    top: 35px;
}
