.product-card__photo {
    max-width: 195px;
    height: 90px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 5px;
    border: none;
}

.product-card_type_withFullDesc .product-card__photo {
    display: inline-block;
    vertical-align: top;
    max-width: 228px;
    height: 126px;
}
