.photoalbums-carousel {
}

.photoalbums-carousel .carousel__control {
    margin-top: -30px;
}

.photoalbums-carousel .carousel__viewport {
    margin: 0;
}

.photoalbums-carousel .carousel__control_direction_next {
    right: -30px;
}

.photoalbums-carousel .carousel__control_direction_prev {
    left: -32px;
}