.products-promo-carousel__switch_state_current
{
    background: #ffffff;
    border-color: #0095da;
}

.products-promo-carousel__switch_state_current:after {
    content: '';
    font: 0/0 a;
    position: absolute;
    top: 2px;
    left: 2px;
    background: #0095da;
    width: 14px;
    height: 14px;
    border-radius: 100%;
}
