.vacancies__text
{
    width: 460px;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 19px;
}

.vacancies__text .b-link {
    color: #006999;
}


.vacancies__text .b-link:hover {
    color: #00aefe;
}