.products-promo-carousel__price-old
{
    font-size: 27px;
    color: #bbbbbb;
    position: relative;
}

.products-promo-carousel__price-old:after {
    content: '';
    background: #bbbbbb;
    width: 100%;
    height: 2px;
    top: 50%;
    position: absolute;
    left: 0;
    margin: -2px 0 0 0;
}
