.paginator__item
{
    display: inline-block;
    vertical-align: top;
    font-size: 17px;
    color: #0081bc;
    line-height: 17px;
    margin: 0 17px 0 0;
}

.paginator__item:hover {
    color: #00aefe;
}
