.input_type_file
{
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.input_type_file .input__input {
    cursor: default;
    z-index: 2;
    opacity: 0;
    right: 0;
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
}