.shipping-calc__content
{
}

.shipping-calc__content .b-text__ul {
    margin: 30px 0 0 0;
}

.shipping-calc__content .b-text__li {
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
    margin: 0 20px 15px 0;
    font-style: normal!important;
    width: 200px;
}

.shipping-calc__content .b-text__li:nth-child(2n) {
    margin-right: 0;
    margin-bottom: 0;
}


.shipping-calc__content .b-icon {
    display: inline-block;
    vertical-align: bottom;
    width: 16px;
    height: 16px;
}

.shipping-calc__content .b-link {
    display: inline-block;
    margin: 0 0 0 12px;
}
