.pay-methods__method-more-text
{
    margin: 0 0 0 90px;
    width: 655px;
}

.pay-methods__method-more-text .b-text__p {
    font-size: 14px;
    line-height: 20px;
}

.pay-methods__method-more-text .b-text__ul_list-type_blue-circle {
    font-size: 13px;
    line-height: 16px;
    color: #494949;
    font-style: italic;
    margin-left: 20px;
    margin-top: 25px;
}

.pay-methods__method-more-text .b-text__ul_list-type_blue-circle .b-text__li {
    font-size: 13px;
}


.pay-methods__method-more-text .b-text__ol {
    font-size: 14px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    counter-reset: list;
}

.pay-methods__method-more-text .b-text__ol > .b-text__li {
    list-style: none;
    position: relative;
    padding: 0;
    margin: 0 0 50px 0;
}

.pay-methods__method-more-text .b-text__ol > .b-text__li:before {
    font-size: 18px;
    font-weight: bold;
    counter-increment: list;
    content: counter(list)'.';
    position: absolute;
    left: -35px;
}