.contacts__link
{
    color: #005075;
    display: inline-block;
    font-size: 12px;
    vertical-align: middle;
    padding: 2px 0 0 0;
}

.contacts__link:hover {
    color: #00aefe;
}

.footer .contacts__link {
    color: #0081bc;
}

.footer .contacts__link:hover {
    color: #00aefe;
}

.i-ua_js_yes .contacts__link .link_pseudo_yes .link__inner {
    vertical-align: top;
    font-size: 12px;
    line-height: 13px;
    display: inline-block;
    margin: 0 0 0 15px;
}

.i-ua_js_yes .footer  .contacts__link .link_pseudo_yes .link__inner {
    font-size: 14px;
    line-height: 14px;
    display: inline-block;
}
