.order-list__item-qualif
{
    margin: 0 0 0 15px;
}

.order-list__item-qualif .color-selector__selector {
    cursor: default;
}


.order-list__item-qualif .color-selector__selector_color_green:hover {
    background: #377530;
}

.order-list__item-qualif .color-selector__selector_color_gray:hover {
    background: #a0a0a0;
}

