.form
{
}

.form .input_type_text {
     background: #eaf2f5;
}

.form .input_type_text.input_reqiured_yes,
.form .input_type_text:focus {
    background: #fff;
}

.form .form__error-marker {
    background: #e88688;
}
