.faq__question
{
    font-size: 17px;
    line-height: 21px;
}

.faq__item_state_opened .faq__question {
    color: #000000;
}

.faq__item_state_closed .faq__question {
    color: #0081bc;
}
.faq__item_state_closed .faq__question:hover {
    color: #00aefe;
}
