.b-text__ul_list-type_dash {
    list-style: none;
}

.b-text__ul_list-type_dash .b-text__li {
    list-style: none;
    margin-left: 0;
}

.b-text__ul_list-type_dash .b-text__li:before {
    content: '—';
    margin: 0 5px 0 -20px;
}