.photoalbums-item__photo
{
    width: 92px;
    height: 64px;
    border: 1px solid #b2b2b2;
    cursor: pointer;
    margin: 0 10px 7px 0;
}

.photoalbums-item__photo:nth-child(2n) {
    margin-right: 0;
}