.catalog-links__item
{
    display: inline-block;
    vertical-align: top;
    margin: 0 7px 0 0;
}

.catalog-links__item .catalog-icon__img {
    opacity: 0.35;
}

.catalog-links__item  .catalog-icon:hover .catalog-icon__img {
    opacity: 1;
}


