.signup__password-recovery
{
    color: #007fba;
    position: absolute;
    font-size: 13px;
    line-height: 13px;
    top: 50%;
    margin-top: -6px;
    right: 10px;
}

.i-ua_js_yes .signup__password-recovery .b-link_pseudo_yes  .b-link__inner {
    border-bottom-style:solid;
}