.catalog-page__menu-item
{
    display: inline-block;
    vertical-align: top;
    color: #0081bc;
    border-radius: 7px;
    cursor: pointer;
    padding: 3px 10px 3px;
    margin: 0 6px 0 0;
}

.catalog-page__menu-item:hover {
    color: #00aefe;
}