.button_type_submit
{
    background: url("button_type_submit_sprite.png") repeat-x 0 -48px #118fc9;
    padding: 0 25px;
    height: 40px;
    color: #fff;
    border-radius: 10px;
    border: 1px solid #008bcb;
    font-size: 23px;
    line-height: 40px;
    text-shadow: 0 1px 0 #000000;
    -webkit-box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.57);
    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.57);
    display: inline-block;
    text-decoration: none;
}

a.button_type_submit {
    padding: 7px 15px 10px 35px;
}

.button_type_submit:hover {
    background-position: 0 -97px;
}

.button_type_submit:focus,
.button_type_submit:active {
    background-position: 0 -148px;
    outline: none;
    -webkit-box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.57), inset 3px 3px 6px 0 rgba(0, 0, 0, 0.57), inset -1px 0px 6px 0 rgba(0, 0, 0, 0.57);
    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.57), inset 3px 3px 6px 0 rgba(0, 0, 0, 0.57), inset -1px 0px 6px 0 rgba(0, 0, 0, 0.57);
    padding-top: 2px;
    text-shadow: 1px -1px 0px #000000;
    border: 1px solid #8F8F8F;
}
