.faq__info
{
    font-size: 18px;
    position: absolute;
    right: 30px;
    top: 28px;
}

.faq__info .b-link
{
    text-decoration: none;
    color: #0d84bc;
    border-bottom: 1px dashed;
    line-height: 18px;
    display: inline-block;
}

.faq__info .b-link:hover {
    color: #00aefe;
}