.faq__info
{
    float: right;
    margin: -70px 70px 0 0;
    font-size: 17px;
}

.faq__info .b-link
{
    text-decoration: none;
    color: #0d84bc;
    border-bottom: 1px dashed;
    line-height: 14px;
    display: inline-block;
}

.faq__info .b-link:hover {
    color: #00aefe;
}