.products-promo-carousel__header
{
    font-size: 42px;
    line-height: 46px;
    width: 300px;
    position: absolute;
    top: 33px;
    left: 119px;
}

.products-promo-carousel__header em {
    font-style: normal;
    font-size: 140%;
    vertical-align: middle;
}