.b-text__ul_list-type_blue-circle
{
    list-style: none;
}


.b-text__ul_list-type_blue-circle .b-text__li {
    list-style: none;
    margin: 0 0 0 20px;
}

.b-text__ul_list-type_blue-circle .b-text__li:before {
    content: '';
    width: 10px;
    height: 10px;
    font-size: 20px;
    color: #0095da;
    margin: 5px 0 0 -25px;
    position: absolute;
    background: #0095da;
    border-radius: 100%;
}
