.input__browse-button {
    background: url("input_type_file.png") repeat-x;
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    line-height: 13px;
    padding: 6px 9px 7px;
    border: 1px solid #54b3df;
    border-radius: 7px;
    cursor: pointer;
    -webkit-box-shadow: 1px 1px 4px -1px rgba(0, 0, 0, 0.57);
    box-shadow: 1px 1px 4px -1px rgba(0, 0, 0, 0.57);
}

.input_hovered_yes .input__browse-button {
    background-position: 0 -34px;
}

.input_focused_yes .input__browse-button {
    background-position: 0 -68px;
    -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.57), inset 2px 2px 4px 0px rgba(0, 0, 0, 0.57);
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.57) inset 2px 2px 4px 0px rgba(0, 0, 0, 0.57);
}
