.call-request__form {
    position: absolute;
    background: #fff;
    padding: 20px 30px 20px 20px;
    border-radius: 10px;
    border: 1px solid #b4b4b4;
    -webkit-box-shadow: 2px 3px 9px 1px rgba(65, 65, 65, 0.42);
    box-shadow: 2px 3px 9px 1px rgba(65, 65, 65, 0.42);
    z-index: 100;
    width: 222px;
    height: 114px;
}

.call-request__form .input_type_text {
    width: 220px;
    padding: 5px 15px;
    border-radius: 8px;
}

.call-request__form .input_reqiured_yes {
    background: #eeeeee;
}

.call-request__form .input_reqiured_yes:focus {
    background: #fff;
}

.call-request__form .button_type_submit {
    font-size: 18px;
    padding: 0 15px;
    height: 30px;
    line-height: normal;
}
