.product-card__price
{
    margin: 5px 0 0 0;
    font-weight: bold;
    font-size: 20px;
}

.product-card_type_withFullDesc .product-card__price {
    margin: 18px 0 0 0;
}


.product-card .price_variant_old {
    color: #727272;
    display: inline-block;
    position: relative;
    font-size: 16px;
    font-weight: normal;
}

.product-card .price_variant_old:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #727272;
    top: 50%;
    left: 0;
    margin: -2px 0 0 0;
}

